<section *ngIf="customer$ | async as customer">
  <h2 class="mat-headline-2">Cadastrar Novo Cliente</h2>
  <form [formGroup]="form" class="customer-form">

    <mat-radio-group formControlName="type">
      <mat-radio-button *ngFor="let type of typeOptions" [value]="type">{{ type }}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name">
    </mat-form-field>

    <div *ngIf="form.get('type')?.value === 'PF'">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex: 000.000.000-00" formControlName="cpf">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput placeholder="Ex: 000.000.000-0" formControlName="rg">
      </mat-form-field>
    </div>

    <div *ngIf="form.get('type')?.value === 'PJ'">
      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput placeholder="Ex: 23793/0001-88" formControlName="cnpj">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>IE</mat-label>
        <input matInput formControlName="ie">
      </mat-form-field>
    </div>

    <div *ngIf="phoneNumbers.length === 0 || phoneNumbers.controls.length > 0">
      <div formArrayName="phoneNumbers">
        <div *ngFor="let phone of customer.phoneNumbers let i = index">
          <ng-container *ngIf="phoneNumbers.controls.length > i">
            <mat-form-field appearance="outline" class="input-add-telephone">
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="Ex.: (00) 00000-0000" [formControlName]="i" [value]="phone.number">
              <button mat-icon-button color="warn" class="delete-telephone-button" (click)="removePhoneNumber(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>
        </div>
        <button mat-raised-button color="primary" class="add-telephone-button" (click)="addPhoneNumber()">Adicionar Telefone</button>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Salvar</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
  </form>
</section>
