.customer-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

mat-radio-button,
mat-checkbox {
  margin-right: 10px;
}

button {
  margin-top: 10px;
}

.add-telephone-button {
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete-telephone-button {
  margin-top: -6px;
}

.input-add-telephone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  display: flex;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-form-field {
  padding-bottom: 20px;

  height: 100px;
}

mat-form-field {
  width: 100%;
}
