/* customer-search.component.css */
.container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  .search-card {
    @media (min-width: 1200px) {
      min-width: 800px;
      margin: 20px 100px 20px 100px;
    }

    @media (max-width: 1200px) {
      width: 90vw;
      margin: 20px 10px;
    }
  }

  .search-field {
    width: 100%;
    padding-top: 12px;
  }

  .results-card {
    @media (min-width: 1200px) {
      min-width: 800px;
      margin: 20px 100px 20px 100px;
    }

    @media (max-width: 1200px) {
      width: 90vw;
      margin: 20px 10px;
    }
  }

  .mat-list-item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }
}
