<section>
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="customer-form">
    <h2 class="mat-subtitle-1 title">Cadastrar um novo cliente</h2>

    <mat-radio-group formControlName="type">
      <mat-radio-button *ngFor="let type of typeOptions" [value]="type">{{ type }}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name">
    </mat-form-field>

    <div *ngIf="form.get('type')?.value === 'PF'">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex: 000.000.000-00" formControlName="cpf">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput placeholder="Ex: 000.000.000-0" formControlName="rg">
      </mat-form-field>
    </div>

    <div *ngIf="form.get('type')?.value === 'PJ'">
      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput placeholder="Ex: 23793/0001-88" formControlName="cnpj">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>IE</mat-label>
        <input matInput formControlName="ie">
      </mat-form-field>
    </div>

    <div formArrayName="phoneNumbers">
      <div *ngFor="let phone of phoneNumbers.controls; let i = index">
        <mat-form-field appearance="outline">
          <input matInput [placeholder]="'Telephone ' + (i + 1)" [formControlName]="i">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="add-telephone-button" (click)="addPhoneNumber()">Adicionar Telefone</button>
    </div>

    <div class="buttons">
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" (click)="submitForm()" [disabled]="!form.valid">Salvar</button>
    </div>
  </form>

</section>
