.customer-form {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 600px) {
    margin: 10px;
    padding: 10px;
  }

  @media (min-width: 600px) {
    margin: 20px auto;
    padding: 20px;  }
}

mat-radio-button,
mat-checkbox {
  margin-right: 10px;
}

button {
  margin-top: 10px;
}

.add-telephone-button {
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete-telephone-button {
  margin-top: -6px;
}

.input-add-telephone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  display: flex;
}

mat-form-field {
  width: 100%;
}

.title {
  text-align: center;
  color: #8b1d9b;

  @media (max-width: 600px) {
    margin: 10px 0;
  }

  @media (min-width: 600px) {
    margin: 20px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
